
main {
    height:auto;

}
main .row{
      display: flex;
  flex-wrap: wrap;

}
main div{

}
main img{  /* на весь размер экрана, вычитая шапку*/
   max-width: 100%;
    display: flex;
}

.container-fluid{
    margin-left: 0px;
        padding-left: 0px;

}

main .row >div{
    height: 100vh;
    display: flex;

}
main .row:first-child > div {
    height: calc(100vh - 110px);
    font-size:30px;
    width:50%;
    align-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.wrapper .text{
     font-size: 2.2vw;
}
.header .text{
    font-size: 5.3vw;
}