<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/scrollme.js') }}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">


      {% if title %}
      <title>{{ title }} - WebSites</title>
      {% else %}
      <title>Welcome to WebSites</title>
      {% endif %}
    </head>
    <body class="container-fluid">

        <header class="container-fluid">
            <div class="row">
  <div class="col-sm-8 col-md-4 col-xl-5 justify-content-center">
    <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}"></div>

  <div class="col-md-1 col-xl-1"><a href="#">
    <img class="logo" src="{{ url_for('static', filename='img/home.png') }}">
                <span class="text-center">Home</span></a>
  </div>
  <div class="col-md-1 col-xl-1"><a href="#">
<img class="logo" src="{{ url_for('static', filename='img/tasks.png') }}">
                    <span class="text-center">Tasks</span></a>
  </div>
  <div class="col-md-1 col-xl-1"><a href="#">
<img class="logo" src="{{ url_for('static', filename='img/articles.png') }}">
                    <span class="text-center">Articles</span></a>
  </div>
  <div class="col-md-1 col-xl-1"><a href="#">
<img class="logo" src="{{ url_for('static', filename='img/about.png') }}">
                    <span class="text-center">About</span></a>
  </div>
</div>



        </header>


<main class="container-fluid">


     {% block content %}{% endblock %}


</main>


<footer class="row">
    <div class="col-xs-12">

     {% block footer %}{% endblock %}

    <p>by SamaraHackers</p>
  </div>
</footer>



    </body>
</html>
