<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

      {% if title %}
      <title>{{ title }} - WebSites</title>
      {% else %}
      <title>Welcome to WebSites</title>
      {% endif %}
    </head>
    <body>

        <header>
            <div class = "logo"><img class="logo" src="{{ url_for('static', filename='img/logo.png') }}"></div>
            <nav>
            <li><a href="/index">
                <img class="logo" src="{{ url_for('static', filename='img/home.png') }}">
                <span>Home</span>
            </a></li>
                <li><a href="/index">
                    <img class="logo" src="{{ url_for('static', filename='img/tasks.png') }}">
                    <span>Tasks</span>
                </a></li>
                <li><a href="/index">
                    <img class="logo" src="{{ url_for('static', filename='img/articles.png') }}">
                    <span>Articles</span>
                </a></li>
                <li><a href="/index">
                    <img class="logo" src="{{ url_for('static', filename='img/about.png') }}">
                    <span>About</span></a>
                </li>
            </nav>


        </header>


<main>
      {% block content %}{% endblock %}
</main>


<footer>
    <p>by SamaraHackers</p>
</footer>



    </body>
</html>
