
{% extends "base.html" %}

{% block content %}
<div class="row">
<div class="col-xl-12">

<svg viewBox="0 0 624 443" class="blob-top-right">
<path d="M260 -0.99952C160.589 -0.999515 80 79.5892 80 179.001C80 278.412 160.589 359.001 260 359.001L624 359L624 -0.999535L260 -0.99952Z" fill="url(#orange-to-pink)"></path>
</svg>




<p class="text-center gradient-text">Взлом на самом деле означает исследовать систему своими собственными способами и кодом, не делая то же самое снова и снова</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4 col">
    <img src="{{ url_for('static', filename='img/notebook.jpg') }}">
  </div>
  <div class="col-md-8 col">


<div class="wrapper">
  <p class="text">Capture the Flag – это игра, в которой несколько команд соревнуются друг с другом. В игре проверяются способности специалистов защитить сложную незнакомую систему с сохранением необходимой функциональности. Задача, с которой сталкиваются участники, сходна с реальной работой консультанта по информационной безопасности в новой организации. Необходимость защищать свой сервер и, в то же время, исследовать, атаковать и размещать свои флаги на чужих серверах делает соревнование более динамичным и зрелищным.</p>
</div>
  </div>
</div>



{% endblock %}

